*{
    margin: 0px;
    padding: 0px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: rgb(253, 227, 231);
    
}
.titel{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 15px;
}
.description{
    
    margin-bottom: 15px;
    color: rgb(109, 108, 108);
}
.btn{
    padding: 10px 15px;
    background-color:crimson;
    border: none;
    color: white;
    border-radius: 7px;
}
.banner-img{
    width:80% ;
    margin-left:80px;
    margin-top: 80px;
  height: 90%;
  align-items: center;
    
}
.banner-text{
    margin-left: 100px;
}
.fe-text{
    text-align: center;
    padding-top: 31px;
}
.flowers{
    width:288px ;
    height: 358px;
    background-color:rgb(224, 204, 224) ;
    border-radius: 150px 150px 3px 3px;
}
.flower{
    width: 209px;
    height: 319px;
    margin: 10px;
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
}
.featured-box{
    height: 100vh;
}
.flower-section{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding-top: 69px;
    gap: 19px;
}
.fea-titel{
    font-weight: bold;
   padding-bottom: 7px;
}
.discount-container{
    height: 70vh;
    background-color: rgb(252, 235, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.discount-photo{
    
    padding-right: 50px;
}
.flower-dis{
    width: 250px;
    height: 320px;
    margin-right:150px;
}
.discount-text{
    margin-left: 150px;
    align-items:center;
}
.insta{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height:75vh ;
    margin: auto;
    gap: 13px;
    margin: 10px 10px 1 ;
}  
.instagram{
    height:vh ;
    width: 60%;
    align-items: center;
    margin: auto;}
    

.email{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.input{
    padding: 10px;
    width: 400px;
    margin-right: 10px;
}
.btnn{
    padding: 13px;
    width: 100px;
}
.subs-cont{
    width: 60%;
    height: 35vh;
    margin: auto;
    background-image: url(images/Rectangle\ 9.png);
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    border-radius: 10px;
}
.footer{
    
    height: 28vh;
    margin: auto;
    background-color: black;
    align-items: center;
    padding-top: 92px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: auto;
}


   




